<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <div class="container text-white">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Post Property</a>
        </li>

        <li class="nav-item dropdown ml-0">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right p-4" aria-labelledby="navbarDropdown">
            <p class="dropdown-header"
             style="text-align: center;">
              Notifications
            </p>
            <div class="dropdown-divider"></div>
              
                <p>Transaction initiated by Mr. John Doe with wallet address e545s5e5446545454 on 02/05/20.</p>
             
            <p class="mb-0">
              Waiting verification from Authorities
            </p>

          </div>

        </li>

        <li class="nav-item dropdown ml-0">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Settings</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout</a>
          </div>

        </li>


        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>