<div class="container-fluid" style="padding: 3%;">
    <div class="row col-lg-12 justify-content-center">
    <h5 style="margin-right: 10%; padding: 3%;">Upload your documents for verificaion</h5>
    </div>
    <div class="row col-lg-12 justify-content-center">
        <div class="col-lg-4 col-md-6" id="input">
            <label for="document1_id">Upload Aadhar card: </label>
            <div class="form-group">
                <label for="document1">Choose File</label>
                <input type="file" name="document1" id="document1" (change)="uploadFile($event.target,0)">
            </div>
        </div>
        <div class="col-lg-4">
            <img src="{{aadhar}}" alt="no document uploaded" style="height: 150px;">
        </div>
    </div>
    <br>
    <div class="row col-lg-12 justify-content-center">
        <div class="col-lg-4 col-md-6" id="input">
            <label>Upload PAN card: </label>
            <div class="form-group">
                <label for="document1">Choose File</label>
                <input type="file" name="document1" id="document1" (change)="uploadFile($event.target,1)">
            </div>
        </div>
        <div class="col-lg-4">
            <img src="{{pan}}" alt="no document uploaded" style="height: 150px;">
        </div>
    </div>
    <div class="row justify-content-center py-3">
        <button style="width: 10%; margin-right: 10%;" class="btn btn-outline-dark" (click)="uploadDocuments()"> SUBMIT
        </button>
    </div>
</div>