<div class="container mt-4">
    <div class="row">
        <!-- <div class="col-md-6 ov-h">
        <img src="https://picsum.photos/500/500" alt="Card image cap">
    </div> -->
        <div class="col-md-6">


            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <img src="https://i.picsum.photos/id/{{slide}}/500/500.jpg" alt="" width="100%">
                </div>
            </ngx-slick-carousel>
        </div>
        <div class="col-md-6">
            <h5 style="font-size:2rem;">2 & 3 BHK Residential Apartments at Raj Nagar Extension</h5>
            <p>Area: 1015 - 1995 Sq.ft(94.29 - 185.34 Sq.Mt)</p>

            <p>Possession: Dec 2020</p>
            <p>Project Type: Apartments</p>
            <p>Units: 3 BHK</p>
            <p>Starting Price <br> <span class="primary" style="font-size: 1.5rem; font-weight: bold;">Rs. 36 Lacs
                </span> onwards</p>
            <div class="d-flex">
                <button class="btn btn-primary">Proceed to Buy</button>
                <button class="btn btn-light ml-3">Add to Wishlist</button>
            </div>


        </div>
    </div>
    <div class="row mt-4">
        <div class="container">
        <h5>Overview</h5>
        <p>
            Hunt of adorable, affordable and comfortable homes is a need, dream and choice of individuals. SCC Sapphire
            brings to you a beautiful and highly developed landscape in Raj Nagar Extension, Ghaziabad in the area of 5
            acres. With its semi-furnished 2 BHK and 3 BHK apartments in Raj Nagar Extension, SCC Sapphire tries to
            bring simple living blended with modern amenities to the lives of individuals and families. It is the small
            thing that brings maximum happiness, SCC Sapphire offers happiness, facilities and amenities in affordable
            prices.
        </p>


         <p>  SCC Sapphire’s customized services are equally appreciable like its homes and host the desires of buyers
            with complete understanding and sympathy. SCC Sapphire is a combination of sophisticated and luxurious
            retreat that reflects the magical merging of inspiration and architecture, that offers great living and
            ambiance.
        </p> 

        <p>
            We take pride in ourselves that we help you begin your hunt for home as conveniently as possible. By
            providing loan services we partner with you to share the load of achieving your dream of owning a house,
            whilst you can focus on laying the foundations that make that house your home. We provide tailor-made
            housing loan solutions through our banking partners in making your vision of Dream Home come true. Your home
            buying experience is a matter of great importance to us.
            
        </p>
        <p>
            We do not build homes only, but relationships with trust and integrity. Projects staring around the vicinity
            would make your choices more convincing and apprehending. Availability of Metro nearby will enhance the
            travelling experience & make it more time efficient, proposed amusement park will add spark to the
            entertainment and established city forest is providing verdure and purity to the environment of the
            locality. Other than these qualifications, SCC Sapphire hails with environment friendly policies and blends
            them in its each creation.
        </p>

    </div>
    </div>

    <div class="row mt-4">
        <div class="container">
            <h5>Specifications</h5>
            <div class="d-flex">
                <div class="col-md-6">
                 <h6>FLOORING</h6>
                 <ul>
                     <li>Vitrified tiles 600 x 600 mm in Drawing Room, Kitchen and Bedrooms.</li>
                     <li>Wooden Flooring in Master Bedroom.</li>
                     <li>Ceramic tiles in Bathrooms and the Balconies.</li>
                     
                 </ul>
                
                 <h6>WALLS AND CEILING FINISH</h6>
                 <ul>
                     <li>Putty finish walls.</li>
                     <li>AAC Blocks, Fly Ash bricks or as per availability of Material.</li>
                     <li>Internal walls & ceiling finished with OBD paint.</li>
                     <li>External walls finished with all-weather texture paint.</li>
                 </ul>
                </div>
                <div class="col-md-6">
                    <h6>DOOR & WINDOWS</h6>
                    <ul>
                        <li>Outer doors and windows aluminium powder coated.</li>
                        <li>Internal Wooden Door-frames made of Marandi or Equivalent wood.</li>
                        <li>Internal doors with flush shutter.</li>
                        <li>Good quality hardware fittings.</li>
                    </ul>
                    
                    <h6>ELECTRICALS</h6>
                    <ul>
                        <li>Copper wire in PVC conduits with MCB supported circuits and adequate power and light points in wall & ceiling.</li>
                        <li>Conduits for DTH connections.</li>
                        <li>Connection for intercom facility for communication with lobby & main gate.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="carouselConfig"
                (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/300/150" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title" style="margin-bottom: 0px !important;">Park View Grand Spa </h5>
                          <p class="card-text subtitle"> Sector-81, Gurgaon</p>
                          <p class="card-text">2,3 BHK</p>
                          <h5 class="card-title">Rs. 3.5Cr <span style="color:gray;font-size:0.9rem;">onwards</span> </h5>
                          <a href="#" class="btn btn-primary">Show More</a>
                        </div>
                      </div>
                </div>
            </ngx-slick-carousel>
    </div> -->
</div>