<div class="container-fluid" style="padding: 3%;">
    <h5>Register a Property</h5>
    <div class="row">
        <div class="col-lg-5">
            <input type='file' (change)="readURL($event);" />
            <!-- <img id="prop-img" *ngFor="let path of selectedImages" src="../../favicon.ico" style="width: 50%; padding: 2%;"> -->
            <div class="row col-lg-12">
                <div *ngFor="let file of propertyImages; let i = index" class="col-lg-4" style="padding: 2%;">
                    <!-- <i class="fa fa-window-close"></i> -->
                    <img width=100% src="{{file}}" alt="" />
                    <!-- <i class="fa fa-window-close"></i> -->
                    <button id="close" (click)="removeImage(i)"><i class="fa fa-window-close"></i></button>
                </div>
            </div>

        </div>
        <div class="col-lg-7">
            <form [formGroup]="property">
                <div class="col-lg-11 justify-content-center">
                    <div class="form-group">
                        <label for="owner_name">Full Name: </label>
                        <div>
                            <input type="text" class="form-control form-control-sm" id="owner_name"
                                placeholder="Full Name of Owner" formControlName="owner_name" required />
                        </div>
                    </div>
                </div>
                <div class="row col-lg-12 justify-content-center">
                    <div class="col-lg-6 col-md-6" id="input">
                        <div class="form-group">
                            <label for="owner_id">Select Id: </label>
                            <div>
                                <select class="form-control form-control-sm" id="owner_id" formControlName="owner_id"
                                    required>
                                    <option value="" hidden>Select Id Proof</option>
                                    <option *ngFor="let type of ['Aadhar', 'PAN', 'Voter Id']" value={{type}}>{{type}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" id="input">
                        <div class="form-group">
                            <label for="owner_id_number">ID Number: </label>
                            <div>
                                <input type="text" class="form-control form-control-sm" id="owner_id_number"
                                    formControlName="owner_id_number" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-lg-12 justify-content-center">
                    <div class="col-lg-6 col-md-6" id="input">
                        <div class="form-group">
                            <label for="document1_id">Ownership Document 1: </label>
                            <div>
                                <select class="form-control form-control-sm" id="document1_id"
                                    formControlName="document1_id" required>
                                    <option value="" hidden>Select Document</option>
                                    <option *ngFor="let type of ['Registry', 'PR Card']" value={{type}}>{{type}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="document1">Choose File</label>
                            <input type="file" name="document1" id="document1" (change)="uploadFile($event.target,0)">
                        </div> 
                    </div>
                    <div class="col-lg-6">
                        <img src="{{propertyDocuments[0]}}" alt="no document uploaded" style="height: 150px;">
                        <!-- <label for="document1">Choose File</label>
                        <input type="file" name="document1" id="document1" (change)="uploadFile($event.target,0)"> -->
                    </div>
                </div>
                <br>
                <div class="row col-lg-12 justify-content-center">
                    <div class="col-lg-6 col-md-6" id="input">
                        <div class="form-group">
                            <label for="document2_id">Ownership Document 2: </label>
                            <div>
                                <select class="form-control form-control-sm" id="document2_id"
                                    formControlName="document2_id" required>
                                    <option value="" hidden>Select Document</option>
                                    <option *ngFor="let type of ['Registry', 'PR Card']" value={{type}}>{{type}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="document1">Choose File</label>
                            <input type="file" name="document1" id="document1" (change)="uploadFile($event.target,1)">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="{{propertyDocuments[1]}}" alt="no document uploaded" style="height: 150px;">
                        <!-- <label for="document2">Choose File</label>
                        <input type="file" name="document2" id="document2" (change)="uploadFile($event.target,1)"> -->
                    </div>
                </div>
                <br>
                <div>
                    <button style="width: 25%; margin-left: 10%;" class="btn btn-outline-dark"
                        (click)="createProperty()"> SUBMIT
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>