
<div class="container mt-4 d-flex">
    <div class="row" style="width:100%">
        
    <div class="col-md-4">
        <h5>Search Property</h5>
        
            <div class="form-group">
                <label for="exampleInputPassword1">Transaction OTP</label>
                    <input type="text" class="form-control"id="exampleInputPassword1" placeholder="Enter otp shared by seller" [value]="searchTerm"> 
            </div>
            <button class="btn btn-primary" (click)="searchProperty()">Search</button>
       
    </div>
    
    <div class="col-md-8">
        <div *ngIf="!loading" class="details-container">
            <h5 class="text-success">Property Found</h5>
            <app-property-details></app-property-details>
        </div>
        <div *ngIf="loading" class="details-container">
            <h5 style="color: gray;">Enter the otp to search Properties</h5>
        </div>
    </div>
</div>
</div>