<div class="container-fluid" style="padding: 3%;">
    <div class="row">
        <div class="col-lg-3" style="border-right: 2px solid gray">
            <h5>Pending Requests</h5>
            <!-- <p>Search bar goes here</p> -->
            <div class="row">
                <input type="text" style="width: 80%;" class="form-control" id="name" placeholder="Search" required />
                <button class="btn btn-outline-dark" style="margin-left: 2%;"><i class="fa fa-search"></i></button>
            </div>
            <div *ngFor="let request of requests" (click)="getTransactionDetails(request)">
                <hr>
                <h5>TID: {{request.id}}</h5>
                Date received: {{request.date}}
            </div>
        </div>
        <!-- <div *ngIf="!selectedTransaction">
            <h5 style="margin-left: 20%;">Click on Transaction to proceed</h5>
        </div> -->
        <div *ngIf="!selectedTransaction" class="col-lg-9">
            <div class="row">
                <div class="col-lg-5">
                    <h5>Seller Details</h5>
                    <div style="border: 1px solid gray; padding-left: 5%;">
                        Name:
                        <h5>Komal Bhale</h5>
                        <br>
                        ID Proof:
                        <h5>Aadhar</h5>
                        <br>
                        AAdhar Number:
                        <h5>5475-9571-5758</h5>
                    </div>
                </div>
                <div class="col-lg-7">
                    <h5>Verify Documents</h5>
                    <div class="row col-lg-12" *ngFor="let document of sellerDocuments; let i = index"
                        style="padding: 2%">
                        <div class="col-lg-5">
                            <div class="row col-lg-12">
                                <div class="col-lg-6">
                                    {{document.document_type}}
                                </div>
                                <div class="col-lg-6">
                                    <img src="../../assets/{{document.document_type}}.jpg" style="height: 50px;">
                                </div>
                            </div>
                        </div>
                        <div class="row col-lg-7 justify-content-center">
                            <button *ngIf="!(document.approved || document.rejected)" class="btn btn-success"
                                style="margin-left: 20%; width: 30%;" (click)="acceptDocument(i,0)">Accept</button>
                            <button *ngIf="!(document.approved || document.rejected)" class="btn btn-danger"
                                style="margin-left: 10%; width: 30%;" (click)="rejectDocument(i,0)">Reject</button>
                            <button *ngIf="document.approved" disabled=true class="btn btn-success"
                                style="width: 50%;">Accepted</button>
                            <button *ngIf="document.rejected" disabled=true class="btn btn-danger"
                                style="width: 50%;">Rejected</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-5">
                    <h5>Buyer Details</h5>
                    <div style="border: 1px solid gray; padding-left: 5%;">
                        Name:
                        <h5>Ruchi Ferwani</h5>
                        <br>
                        ID Proof:
                        <h5>Aadhar</h5>
                        <br>
                        AAdhar Number:
                        <h5>1452-9571-5758</h5>
                    </div>
                </div>
                <div class="col-lg-7">
                    <h5>Verify Documents</h5>
                    <div class="row col-lg-12" *ngFor="let document of buyerDocuments; let i = index"
                        style="padding: 2%">
                        <div class="col-lg-5">
                            <div class="row col-lg-12">
                                <div class="col-lg-6">
                                    {{document.document_type}}
                                </div>
                                <div class="col-lg-6">
                                    <img src="../../assets/{{document.document_type}}.jpg" style="height: 50px;">
                                </div>
                            </div>
                        </div>
                        <div class="row col-lg-7 justify-content-center">
                            <button *ngIf="!(document.approved || document.rejected)" class="btn btn-success"
                                style="margin-left: 20%; width: 30%;" (click)="acceptDocument(i,1)">Accept</button>
                            <button *ngIf="!(document.approved || document.rejected)" class="btn btn-danger"
                                style="margin-left: 10%; width: 30%;" (click)="rejectDocument(i,1)">Reject</button>
                            <button *ngIf="document.approved" disabled=true class="btn btn-success"
                                style="width: 50%;">Accepted</button>
                            <button *ngIf="document.rejected" disabled=true class="btn btn-danger"
                                style="width: 50%;">Rejected</button>
                        </div>

                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <!-- <button *ngIf="transactionStatus == 0" class="btn btn-success" style="width: 20%;" (click)="changeTransactionStatus(1)">Accept
                    Transaction</button>
                <button *ngIf="transactionStatus == 0"class="btn btn-danger" style="margin-left: 5%; width: 20%;"
                    (click)="changeTransactionStatus(-1)">Reject Transaction</button>
                <button *ngIf="transactionStatus == 1" disabled=true class="btn btn-success"
                    style="width: 50%;">Transaction Accepted</button>
                <button *ngIf="transactionStatus == -1" disabled=true class="btn btn-danger"
                    style="width: 50%;">Transaction Rejected</button> -->
                <button class="btn btn-primary" style="margin-left: 20%;">Update Transaction</button>
            </div>
        </div>
    </div>
</div>