/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.slick-slider {
    width: 90%;
    margin: auto;
    background: #000;
  }
   
  .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 45% !important;
  }
   
  .prev-slide.slick-disabled,
  .next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
  }
   
  .prev-slide {
    background: url(assets/nav-icon.PNG) no-repeat scroll 0 0;
    left: -33px;
  }
   
  .next-slide {
    background: url(assets/nav-icon.PNG) no-repeat scroll -24px 0px;
    right: -33px;
  }
   
  .prev-slide:hover {
    background-position: 0px -53px;
  }
   
  .next-slide:hover {
    background-position: -24px -53px;
  }
