<div class="container d-flex justify-content-center mt-4">
    <div class="card card-container">
        <div class="card-body">
            <h5 class="card-title text-success" style="margin-bottom: 0px !important;">Your Property has been
                successfully created</h5>
            <p class="card-text subtitle">Please copy this this otp for future references</p>
            <form>

                <div class="form-group">
                    <label for="exampleInputPassword1">Transaction OTP</label>
                    <div class="d-flex">
                        <input type="text" class="form-control" [value]="transactionOtp" disabled="true"
                            id="exampleInputPassword1" placeholder="">
                        <button type="submit" class="btn btn-primary ml-2">Copy</button>
                    </div>
                </div>


                <div class="form-group">
                    <label for="exampleInputPassword1">OTP to share with buyer</label>
                    <div class="d-flex">
                        <input type="text" class="form-control" [value]="buyerOtp" disabled="true"
                            id="exampleInputPassword1" placeholder="">
                        <button type="submit" class="btn btn-primary ml-2">Copy</button>
                    </div>
                </div>
            </form>

            <a href=""> go back</a>
        </div>
    </div>
</div>