.subtitle{
    color:gray;
}
.search-bar{
    margin:auto;

}
.title{
    font-size: 3rem;
    text-align: center;
    color:white;
    font-weight: bold;
    margin-bottom: 1rem;
}
.search-bar-container{
    height:80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url('../../assets/adrk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
