
<!-- search bar -->
<div class="search-bar-container">
        <div class="search-bar container">
            <h2 class="title">Let us Guide you Home</h2>
            <form>
                <div class="form-row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Enter Location">
                  </div>
                  <!-- <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Property Type">
                  </div> -->
                  <div class="form-group col-md-3">
                    <select class="custom-select" placeholder="Property type">
                      <option value="">Property Type</option>
                      <option value="1">Flat</option>
                      <option value="2">House</option>
                      <option value="3">Plot/Land</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <button class="btn btn-primary" style="width:100%;" type="submit">Search</button>
                  </div>
                </div>
              </form>
        </div>
</div>
<!-- cards container -->
<div class="container d-flex mt-4 flex-column">
    <div class="row mt-4" *ngFor="let property of properties">
        <div class="col-md-4" *ngFor="let property of properties">
            <div class="card">
                <img class="card-img-top" src="https://picsum.photos/300/150" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title" style="margin-bottom: 0px !important;">Park View Grand Spa </h5>
                  <p class="card-text subtitle"> Sector-81, Gurgaon</p>
                  <p class="card-text">2,3 BHK</p>
                  <h5 class="card-title">Rs. 3.5Cr <span style="color:gray;font-size:0.9rem;">onwards</span> </h5>
                  <a href="#" class="btn btn-primary">Show More</a>
                </div>
              </div>
        </div>
    </div>
</div>